# 一、pandas的基本操作

## 1.1、首先导入pandas库

pandas为第三方库需要安装

pip install pandas

In [1]:
import numpy as np
import pandas as pd

## 1.2 Series和DataFrame区别

In [3]:
import pandas as pd
DF = pd.DataFrame({"数据结构":["Series","DataFrame"],
                  "维度":["1","2"],
                  "说明":["该结构能够存储各种数据类型，比如字符数、整数、浮点数、Python 对象等，Series 用 name 和 index 属性来描述 数据值。Series 是一维数据结构，因此其维数不可以改变。","DataFrame 是一种二维表格型数据的结构，既有行索引，也有列索引。行索引是 index，列索引是 columns。 在创建该结构时，可以指定相应的索引值。"]
                  
                  })
DF

        数据结构 维度                                                 说明
0     Series  1  该结构能够存储各种数据类型，比如字符数、整数、浮点数、Python 对象等，Series 用...
1  DataFrame  2  DataFrame 是一种二维表格型数据的结构，既有行索引，也有列索引。行索引是 index...

# 二、Series和DataFrame

## 2.1 Series

创建Series对象

Series的格式：

pd.Series( data, index, dtype, copy)

In [3]:
SER = pd.DataFrame({"参数名称":["data","index","dtype","copy"],
                  "描述":["输入的数据，可以是列表、常量、ndarray 数组等。","索引值必须是惟一的，如果没有传递索引，则默认为 np.arrange(n)。","dtype表示数据类型，如果没有提供，则会自动判断得出。","表示对 data 进行拷贝，默认为 False。"]
                  })
SER

    参数名称                                      描述
0   data             输入的数据，可以是列表、常量、ndarray 数组等。
1  index  索引值必须是惟一的，如果没有传递索引，则默认为 np.arrange(n)。
2  dtype            dtype表示数据类型，如果没有提供，则会自动判断得出。
3   copy                表示对 data 进行拷贝，默认为 False。

### 2.1.1 Series的创建

In [4]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print (s)

0    a
1    b
2    c
3    d
dtype: object

### 2.1.2 Series的索引标签访问

In [5]:
import pandas as pd
s = pd.Series([6,7,8,9,10],index = ['a','b','c','d','e'])
print(s["c"])

8

### 2.1.3 Series的索引切片

In [6]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[:3])

a    1
b    2
c    3
dtype: int64

## 2.1.4 Series常用属性

In [7]:
SER2 = pd.DataFrame({"名称":["axes","dtype","empty","ndim","size","values","index"],
                     "属性":["以列表的形式返回所有行索引标签。","返回对象的数据类型。","返回一个空的 Series 对象。","返回输入数据的维数。","返回输入数据的元素数量。","以 ndarray 的形式返回 Series 对象。","返回一个RangeIndex对象，用来描述索引的取值范围。"]
                  })
SER2

       名称                             属性
0    axes               以列表的形式返回所有行索引标签。
1   dtype                     返回对象的数据类型。
2   empty              返回一个空的 Series 对象。
3    ndim                     返回输入数据的维数。
4    size                   返回输入数据的元素数量。
5  values     以 ndarray 的形式返回 Series 对象。
6   index  返回一个RangeIndex对象，用来描述索引的取值范围。

### 2.1.5 Series 的属性用法

In [8]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print ("The axes are:")
print(s.axes)

The axes are:
[RangeIndex(start=0, stop=5, step=1)]

In [9]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print ("The dtype is:")
print(s.dtype)

The dtype is:
float64

In [10]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print("是否为空对象?")
print (s.empty)

是否为空对象?
False

In [11]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print (s)
print (s.ndim)

0    0.868617
1   -0.655331
2    0.129945
3    0.793201
4    0.584329
dtype: float64
1

In [12]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(3))
print (s)
#series的长度大小
print(s.size)

0    0.140909
1    0.016799
2   -0.271818
dtype: float64
3

In [13]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(6))
print(s)
print("输出series中数据")
print(s.values)

0    1.820982
1   -0.882075
2   -0.755936
3    1.033812
4    0.515349
5    0.962272
dtype: float64
输出series中数据
[ 1.82098172 -0.88207454 -0.75593608  1.03381173  0.51534858  0.96227172]

In [14]:
#显示索引
import pandas as pd
s=pd.Series([1,2,5,8],index=['a','b','c','d'])
print(s.index)
#隐式索引
s1=pd.Series([1,2,5,8])
print(s1.index)

Index(['a', 'b', 'c', 'd'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

## 2.2、DataFrame：

DataFrame 一个表格型的数据结构，既有行标签（index），又有列标签（columns），它也被称异构数据表

同 Series 一样，DataFrame 自带行标签索引，默认为“隐式索引”即从 0 开始依次递增，行标签与 DataFrame 中的数据项一一对应。

pd.DataFrame( data, index, columns, dtype, copy)

In [15]:
DF1 = pd.DataFrame({"参数名称":["data","index","columns","dtype","copy"],
                     "说明":["输入的数据，可以是 ndarray，series，list，dict，标量以及一个 DataFrame。","行标签，如果没有传递 index 值，则默认行标签是 np.arange(n)，n 代表 data 的元素个数。","列标签，如果没有传递 columns 值，则默认列标签是 np.arange(n)。","dtype表示每一列的数据类型。","默认为 False，表示复制数据 data。"]
                  })
DF1

      参数名称                                                 说明
0     data  输入的数据，可以是 ndarray，series，list，dict，标量以及一个 Data...
1    index  行标签，如果没有传递 index 值，则默认行标签是 np.arange(n)，n 代表 d...
2  columns         列标签，如果没有传递 columns 值，则默认列标签是 np.arange(n)。
3    dtype                                   dtype表示每一列的数据类型。
4     copy                             默认为 False，表示复制数据 data。

## 2.2.1 创建DataFrame对象

In [16]:
import pandas as pd
#创建空的DataFrame对象
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [17]:
import pandas as pd
#列表创建DataFame对象
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
import pandas as pd
#嵌套列表创建 DataFrame 对象
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

## 1.4、导入CSV或者xlsx文件：

## 2.2.2 DataFrame指定数值元素的数据类型

In [19]:
import pandas as pd
#指定数值元素的数据类型为 float
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])

#???????????????????????????????????????????????????????????????????????????????

#df = pd.DataFrame(data,columns=['Name','Age'])

print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [20]:
df_1 = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
"date":pd.date_range('20130102', periods=6),
"city":['Beijing ', 'WuHan', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
"age":[23,44,54,32,34,32],
"category":['100-A','100-B','110-A','110-C','210-A','130-F'],
"price":[1200,None,2133,5433,None,4432]},
columns =['id','date','city','category','age','price'])
df_1

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03        WuHan    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

### 2.2.3 DataFrame添加自定义的行标签

In [21]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

### 2.2.4 列表嵌套字典创建DataFrame对象

或者

注意：如果其中某个元素值缺失，也就是字典的 key 无法找到对应的 value，将使用 NaN 代替。

In [22]:
#列表嵌套字典可以作为输入数据传递给 DataFrame 构造函数。默认情况下，字典的键被用作列名。
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [23]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

### 2.2.5 Series创建DataFrame对象

In [24]:
import pandas as pd
#Series创建DataFrame对象
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

### 2.2.6 列索引操作DataFrame

In [25]:
import pandas as pd
# 列索引选取数据列
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [26]:
#列索引添加数据列
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
#使用df['列']=值，插入新的数据列
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
#将已经存在的数据列做相加运算
df['four']=df['one']+df['three']
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [27]:
import pandas as pd
#除了使用df[]=value的方式外，您还可以使用 insert() 方法插入新的列，示例如下：
info=[['Jack',18],['Helen',19],['John',17]]
df=pd.DataFrame(info,columns=['name','age'])
print(df)
#注意是column参数
#数值1代表插入到columns列表的索引位置
df.insert(1,column='score',value=[91,90,75])
print(df)

    name  age
0   Jack   18
1  Helen   19
2   John   17
    name  score  age
0   Jack     91   18
1  Helen     90   19
2   John     75   17

In [28]:
import pandas as pd
#列索引删除数据列
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)
#使用del删除
del df['one']
print(df)
#使用pop方法删除
df.pop('two')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
   three
a   10.0
b   20.0
c   30.0
d    NaN

### 2.2.7 行索引操作DataFrame

In [29]:
import pandas as pd
#标签索引选取
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print(df.loc['b'])
#注意：loc 允许接两个参数分别是行和列，参数之间需要使用“逗号”隔开，但该函数只能接收标签索引。

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    2.0
two    2.0
Name: b, dtype: float64

In [31]:
import pandas as pd
#整数索引选取
#通过将数据行所在的索引位置传递给 iloc 函数，也可以实现数据行选取。
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

### 2.2.8 添加数据行

In [32]:
import pandas as pd
#添加数据行
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
#在行末追加新数据行
df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

### 2.2.9 删除数据行

In [33]:
# 删除数据行
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print(df)
#注意此处调用了drop()方法
df = df.drop(0)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
1  3  4
1  7  8

### 2.2.10 常用属性和方法汇总

In [34]:
DF2 = pd.DataFrame({"名称":["T","axes","dtypes","empty","ndim","shape","size","values","head()","tail()","shift()"],
                     "属性&方法描述":["行和列转置。","返回一个仅以行轴标签和列轴标签为成员的列表。","返回每列数据的数据类型。","DataFrame中没有数据或者任意坐标轴的长度为0，则返回True。","轴的数量，也指数组的维数。","返回一个元组，表示了 DataFrame 维度。","DataFrame中的元素数量。","使用 numpy 数组表示 DataFrame 中的元素值。","返回前 n 行数据，默认n=5。","返回后 n 行数据，默认n=5。","将行或列移动指定的步幅长度"]
                           
                    })
DF2

         名称                              属性&方法描述
0         T                               行和列转置。
1      axes               返回一个仅以行轴标签和列轴标签为成员的列表。
2    dtypes                         返回每列数据的数据类型。
3     empty  DataFrame中没有数据或者任意坐标轴的长度为0，则返回True。
4      ndim                        轴的数量，也指数组的维数。
5     shape             返回一个元组，表示了 DataFrame 维度。
6      size                     DataFrame中的元素数量。
7    values       使用 numpy 数组表示 DataFrame 中的元素值。
8    head()                     返回前 n 行数据，默认n=5。
9    tail()                     返回后 n 行数据，默认n=5。
10  shift()                        将行或列移动指定的步幅长度

### 2.10.1 常用属性和方法具体作用

In [4]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#输出DataFrame的转置
df.T

             0     1     2      3    4    5       6
Name    c语言中文网   编程帮    百度  360搜索   谷歌  微学苑  Bing搜索
years        5     6    15     28    3   19      23
Rating    4.23  3.24  3.98   2.56  3.2  4.6     3.8

In [6]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#输出行、列标签
print(df.axes)

[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'years', 'Rating'], dtype='object')]

In [37]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#输出行、列标签
print(df.dtypes)

Name       object
years       int64
Rating    float64
dtype: object

In [38]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#判断输入数据是否为空
print(df.empty)

False

In [39]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#DataFrame的维度
print(df.ndim)

2

In [41]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#DataFrame的维度
print(df.shape)

(7, 3)

In [42]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#DataFrame的中元素个数
print(df.size)

21

In [43]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#DataFrame的数据
print(df.values)

[['c语言中文网' 5 4.23]
 ['编程帮' 6 3.24]
 ['百度' 15 3.98]
 ['360搜索' 28 2.56]
 ['谷歌' 3 3.2]
 ['微学苑' 19 4.6]
 ['Bing搜索' 23 3.8]]

In [44]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#获取前3行数据
print(df.head(3))

     Name  years  Rating
0  c语言中文网      5    4.23
1     编程帮      6    3.24
2      百度     15    3.98

In [45]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['c语言中文网','编程帮',"百度",'360搜索','谷歌','微学苑','Bing搜索']),
   'years':pd.Series([5,6,15,28,3,19,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#构建DataFrame
df = pd.DataFrame(d)
#获取后2行数据
print(df.tail(2))

     Name  years  Rating
5     微学苑     19     4.6
6  Bing搜索     23     3.8

shift()移动行或列

DataFrame.shift(periods=1, freq=None, axis=0)

In [46]:
import pandas as pd 
df = pd.DataFrame({'参数名称': ["peroids", "freq", "axis","fill_value"], 
'说明': ["类型为int，表示移动的幅度，可以是正数，也可以是负数，默认值为1。", "日期偏移量，默认值为None，适用于时间序。取值为符合时间规则的字符串。", "如果是 0 或者 “index” 表示上下移动，如果是 1 或者 “columns” 则会左右移动。", "该参数用来填充缺失值。"]
                  }) 
df

         参数名称                                                 说明
0     peroids                 类型为int，表示移动的幅度，可以是正数，也可以是负数，默认值为1。
1        freq               日期偏移量，默认值为None，适用于时间序。取值为符合时间规则的字符串。
2        axis  如果是 0 或者 “index” 表示上下移动，如果是 1 或者 “columns” 则会左...
3  fill_value                                        该参数用来填充缺失值。

In [47]:
import pandas as pd 
info= pd.DataFrame({'a_data': [40, 28, 39, 32, 18], 
'b_data': [20, 37, 41, 35, 45], 
'c_data': [22, 17, 11, 25, 15]}) 
#移动幅度为3
info.shift(periods=3)

   a_data  b_data  c_data
0     NaN     NaN     NaN
1     NaN     NaN     NaN
2     NaN     NaN     NaN
3    40.0    20.0    22.0
4    28.0    37.0    17.0

In [48]:
import pandas as pd 
info= pd.DataFrame({'a_data': [40, 28, 39, 32, 18], 
'b_data': [20, 37, 41, 35, 45], 
'c_data': [22, 17, 11, 25, 15]}) 
#移动幅度为3
print(info.shift(periods=3))
#将缺失值和原数值替换为52
info.shift(periods=3,axis=1,fill_value= 52)

   a_data  b_data  c_data
0     NaN     NaN     NaN
1     NaN     NaN     NaN
2     NaN     NaN     NaN
3    40.0    20.0    22.0
4    28.0    37.0    17.0

   a_data  b_data  c_data
0      52      52      52
1      52      52      52
2      52      52      52
3      52      52      52
4      52      52      52

### 2.10.2 综合属性用法

In [23]:
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
"date":pd.date_range('20130102', periods=6),
"city":['Beijing ', 'WuHan', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
"age":[23,44,54,32,34,32],
"category":['100-A','100-B','110-A','110-C','210-A','130-F'],
"price":[1200,None,2133,5433,None,4432]},
columns =['id','date','city','category','age','price'])
print("原始表格--------------------------------------------")
print(df)
print()
print("DataFrame的维度-------------------------------------")
#DataFrame的维度
print(df.shape)
print()
print("数据表基本信息（维度、列名称、数据格式、所占空间等）")
#数据表基本信息（维度、列名称、数据格式、所占空间等）
print(df.info())
print()
print("每列的数据类型-------------------------------------")
#每列的数据类型
print(df.dtypes)
print()
print("一列的数据类型-------------------------------------")
#一列的数据类型
print(df["price"].dtype)
print()
print("查看某所有空值-------------------------------------")
#查看某所有空值
print(df.isnull())
print()
print("查看某一列空值-------------------------------------")
#查看某一列空值
print(df["price"].isnull())
print()
print("查看某一列的唯一值（提取唯一值）-------------------")
#查看某一列的唯一值（提取唯一值）
print(df['price'].unique())
print()
print("查看数据表的值------------------------------------")
# 查看数据表的值
print(df.values)
print()
print("获取列名称----------------------------------------")
# 获取列名称
print(df.columns)
print()
print("查看前5行数据、后5行数据--------------------------")
# 查看前5行数据、后5行数据
print(df.head())
print()
print(df.tail())

原始表格--------------------------------------------
     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03        WuHan    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

DataFrame的维度-------------------------------------
(6, 6)

数据表基本信息（维度、列名称、数据格式、所占空间等）
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        6 non-null      int64
 1   date      6 non-null      datetime64[ns]
 2   city      6 non-null      object
 3   category  6 non-null      object
 4   age       6 non-null      int64
 5   price     4 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 416.0+ bytes
None

每列的数据类型-------------------------------------
id                   int64
date        datetime64[ns]
city                object
category            object
age                  int64
price              float64
dtype: object

一列的数据类型-------------------------------------
float64

查看某所有空值-------------------------------------
      id   date   city  category    age  price
0  False  False  False     False  False  False
1  False  False  False     False  False   True
2  False  False  False     False  False  False
3  False  False  False     False  False  False
4  False  False  False     False  False   True
5  False  False  False     False  False  False

查看某一列空值-------------------------------------
0    False
1     True
2    False
3    False
4     True
5    False
Name: price, dtype: bool

查看某一列的唯一值（提取唯一值）-------------------
[1200.   nan 2133. 5433. 4432.]

查看数据表的值------------------------------------
[[1001 Timestamp('2013-01-02 00:00:00') 'Beijing ' '100-A' 23 1200.0]
 [1002 Timestamp('2013-01-03 00:00:00') 'WuHan' '100-B' 44 nan]
 [1003 Timestamp('2013-01-04 00:00:00') ' guangzhou ' '110-A' 54 2133.0]
 [1004 Timestamp('2013-01-05 00:00:00') 'Shenzhen' '110-C' 32 5433.0]
 [1005 Timestamp('2013-01-06 00:00:00') 'shanghai' '210-A' 34 nan]
 [1006 Timestamp('2013-01-07 00:00:00') 'BEIJING ' '130-F' 32 4432.0]]

获取列名称----------------------------------------
Index(['id', 'date', 'city', 'category', 'age', 'price'], dtype='object')

查看前5行数据、后5行数据--------------------------
     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03        WuHan    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN

     id       date         city category  age   price
1  1002 2013-01-03        WuHan    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

### 2.11 数据处理

In [55]:
import pandas as pd 
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
"date":pd.date_range('20130102', periods=6),
"city":['Beijing ', 'WuHan', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
"age":[23,44,54,32,34,32],
"category":['100-A','100-B','110-A','110-C','210-A','130-F'],
"price":[1200,None,2133,5433,None,4432]},
columns =['id','date','city','category','age','price'])
print(df)
print()
print("用数字0填充空值(即用0替换None):")
df_t0 = df.fillna(value=0)
print(df_t0)
print()
print("使用列price的均值对NA进行填充：")
df['price'] =df['price'].fillna(df['price'].mean())
print(df)
print()
print("清除city字段的字符空格：")
df['city']=df['city'].map(str.strip)
print(df)
print()
print("city大小写转换：")
df['city']=df['city'].str.lower()
print(df)
print()
print("更改price数据格式：")
print(df['price'].astype('int'))
print()
print("更改列名称：")
df =df.rename(columns={'category': 'category-size'}) 
print(df)
print()
print("删除后出现的重复值：")
print(df['city'].drop_duplicates())
print()
print("删除先出现的重复值：")
print(df['city'].drop_duplicates(keep='last'))
print()
print("数据替换：")
print(df['city'].replace('wuhan', 'wuhang'))

     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03        WuHan    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

用数字0填充空值(即用0替换None):
     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03        WuHan    100-B   44     0.0
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     0.0
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

使用列price的均值对NA进行填充：
     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03        WuHan    100-B   44  3299.5
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34  3299.5
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

清除city字段的字符空格：
     id       date       city category  age   price
0  1001 2013-01-02    Beijing    100-A   23  1200.0
1  1002 2013-01-03      WuHan    100-B   44  3299.5
2  1003 2013-01-04  guangzhou    110-A   54  2133.0
3  1004 2013-01-05   Shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai    210-A   34  3299.5
5  1006 2013-01-07    BEIJING    130-F   32  4432.0

大小写转换：
     id       date       city category  age   price
0  1001 2013-01-02    beijing    100-A   23  1200.0
1  1002 2013-01-03      wuhan    100-B   44  3299.5
2  1003 2013-01-04  guangzhou    110-A   54  2133.0
3  1004 2013-01-05   shenzhen    110-C   32  5433.0
4  1005 2013-01-06   shanghai    210-A   34  3299.5
5  1006 2013-01-07    beijing    130-F   32  4432.0

更改数据格式：
0    1200
1    3299
2    2133
3    5433
4    3299
5    4432
Name: price, dtype: int32

更改列名称：
     id       date       city category-size  age   price
0  1001 2013-01-02    beijing         100-A   23  1200.0
1  1002 2013-01-03      wuhan         100-B   44  3299.5
2  1003 2013-01-04  guangzhou         110-A   54  2133.0
3  1004 2013-01-05   shenzhen         110-C   32  5433.0
4  1005 2013-01-06   shanghai         210-A   34  3299.5
5  1006 2013-01-07    beijing         130-F   32  4432.0

删除后出现的重复值：
0      beijing
1        wuhan
2    guangzhou
3     shenzhen
4     shanghai
Name: city, dtype: object

删除先出现的重复值：
1        wuhan
2    guangzhou
3     shenzhen
4     shanghai
5      beijing
Name: city, dtype: object

数据替换：
0      beijing
1       wuhang
2    guangzhou
3     shenzhen
4     shanghai
5      beijing
Name: city, dtype: object

# 四、数据预处理

In [71]:
df1=pd.DataFrame({"id":[1005,1006,1007,1008], 
"gender":['male','female','male','female'],
"pay":['N','Y','N','Y',],
"m-point":[10,12,20,40]})
df1

     id  gender pay  m-point
0  1005    male   N       10
1  1006  female   Y       12
2  1007    male   N       20
3  1008  female   Y       40

In [72]:
df2=pd.DataFrame({"id":[1001,1002,1003,1004], 
"gender":['male','female','male','female'],
"pay":['Y','N','Y','Y'],
"m-point":[40,40,30,20]})
df2

     id  gender pay  m-point
0  1001    male   Y       40
1  1002  female   N       40
2  1003    male   Y       30
3  1004  female   Y       20

## 4.1、数据表合并

### 4.1.1 merge

In [73]:
df_inner=pd.merge(df1,df2,how='inner')  # 匹配合并，交集
df_left=pd.merge(df1,df2,how='left')        #
df_right=pd.merge(df1,df2,how='right')
df_outer=pd.merge(df1,df2,how='outer')  #并集

In [74]:
print(df_inner)

Empty DataFrame
Columns: [id, gender, pay, m-point]
Index: []

### 4.1.2 append

_append()函数用于将一个或多个DataFrame添加到另一个DataFrame的末尾。这个函数的基本语法如下：

DataFrame._append(other, ignore_index=False, verify_integrity=False, sort=False)
    
  参数说明：

    other：要添加的DataFrame或Series对象。
    ignore_index：布尔值，默认为False。如果为True，则不使用其他DataFrame的索引，而是重新生成新的索引。
    verify_integrity：布尔值，默认为False。如果为True，则检查新添加的数据是否与原始数据中的任何重复项冲突。
    sort：布尔值，默认为False。如果为True，则对新添加的数据进行排序。

In [75]:
df1

     id  gender pay  m-point
0  1005    male   N       10
1  1006  female   Y       12
2  1007    male   N       20
3  1008  female   Y       40

In [76]:
df2

     id  gender pay  m-point
0  1001    male   Y       40
1  1002  female   N       40
2  1003    male   Y       30
3  1004  female   Y       20

In [ ]:
result = df1._append(df2,ignore_index=True)
result

### 4.1.3 join

In [78]:
df3=pd.DataFrame({"id":[1001,1002,1003,1004], 
"gender":['male','female','male','female'],
"pay":['N','Y','N','Y',],
"m-point":[10,12,20,40]})
df3

     id  gender pay  m-point
0  1001    male   N       10
1  1002  female   Y       12
2  1003    male   N       20
3  1004  female   Y       40

In [79]:
df2

     id  gender pay  m-point
0  1001    male   Y       40
1  1002  female   N       40
2  1003    male   Y       30
3  1004  female   Y       20

In [ ]:
result = df3.join(df2, on='id')

### 4.1.4 concat

In [ ]:
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

objs︰ 一个序列或系列、 综合或面板对象的映射。如果字典中传递，将作为键参数，使用排序的键，除非它传递，在这种情况下的值将会选择
（见下文）。任何没有任何反对将默默地被丢弃，除非他们都没有在这种情况下将引发 ValueError。
axis: {0，1，…}，默认值为 0。要连接沿轴。
join: {‘内部’、 ‘外’}，默认 ‘外’。如何处理其他 axis(es) 上的索引。联盟内、 外的交叉口。
ignore_index︰ 布尔值、 默认 False。如果为 True，则不要串联轴上使用的索引值。由此产生的轴将标记
0，…，n-1。这是有用的如果你串联串联轴没有有意义的索引信息的对象。请注意在联接中仍然受到尊重的其他轴上的索引值。
join_axes︰ 索引对象的列表。具体的指标，用于其他 n-1 轴而不是执行内部/外部设置逻辑。 keys︰
序列，默认为无。构建分层索引使用通过的键作为最外面的级别。如果多个级别获得通过，应包含元组。
levels︰ 列表的序列，默认为无。具体水平 （唯一值） 用于构建多重。否则，他们将推断钥匙。
names︰ 列表中，默认为无。由此产生的分层索引中的级的名称。
verify_integrity︰ 布尔值、 默认 False。检查是否新的串联的轴包含重复项。这可以是相对于实际数据串联非常昂贵。
副本︰ 布尔值、 默认 True。如果为 False，请不要，不必要地复制数据。

例子：1.frames = [df1, df2, df3]
      2.result = pd.concat(frames)

## 4.2、设置索引列

In [ ]:
df_inner = df
df_inner

In [ ]:
df_inner.set_index('id')

## 4.3、按照特定列的值排序：

In [ ]:
df_inner.sort_values(by=['age'])

## 4.4、按照索引列排序：

In [ ]:
df_inner.sort_index()

## 4.5、如果price列的值>3000，group列显示high，否则显示low：

In [ ]:
df_inner['group'] = np.where(df_inner['price'] > 3000,'high','low')
df_inner

## 4.6、对多条件的数据进行分组标记

In [ ]:
df_inner.loc[(df_inner['city'] == 'beijing') & (df_inner['price'] >= 4000), 'sign']=1
df_inner

## 4.7、对category-size字段的值依次进行分列，并创建数据表，索引值为df_inner的索引列，列名称为category和size

In [ ]:
pd.DataFrame((x.split('-') for x in df_inner['category-size']),index=df_inner.index,columns=['category-size','size'])

## 4.8、将完成分裂后的数据表和原df_inner数据表进行匹配

In [ ]:
df_inner=pd.merge(df_inner,split,right_index=True, left_index=True)

# 五、数据提取

主要用到的三个函数：loc,iloc和ix，loc函数按标签值进行提取，iloc按位置进行提取，ix可以同时按标签和位置进行提取。

## 5.1、按索引提取单行的数值

In [ ]:
df_inner = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
"date":pd.date_range('20130102', periods=6),
"city":['Beijing ', 'WuHan', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
"age":[23,44,54,32,34,32],
"category":['100-A','100-B','110-A','110-C','210-A','130-F'],
"price":[1200,np.nan,2133,5433,np.nan,4432]},
columns =['id','date','city','category','age','price'])
df_inner

In [ ]:
df_inner.loc[5]

## 5.2、按索引提取区域行数值

In [ ]:
df_inner.iloc[0:5]

## 5.3、重设索引

In [ ]:
df_inner.reset_index()

## 5.4、设置日期为索引

In [ ]:
df_inner.columns

In [ ]:
df_inner=df_inner.set_index("city") 
df_inner

## 5.5、提取4日之前的所有数据

In [ ]:
df_inner = df
df_inner

In [ ]:
df_inner["date"].astype

In [ ]:

df_inner[:2013, 1, 4]

## 5.6、使用iloc按位置区域提取数据

In [ ]:
df_inner.iloc[:3,:2] #冒号前后的数字不再是索引的标签名称，而是数据所在的位置，从0开始，前三行，前两列。

## 5.7、适应iloc按位置单独提起数据

In [ ]:
df_inner.iloc[[0,2,5],[4,5]] #提取第0、2、5行，4、5列

## 5.8、使用ix按索引标签和位置混合提取数据

In [ ]:
df_inner.ix[:'2013-01-03',:4] #2013-01-03号之前，前四列数据

## 5.9、判断city列的值是否为北京

In [ ]:
df_inner['city'].isin(['beijing'])

## 5.10、判断city列里是否包含beijing和shanghai，然后将符合条件的数据提取出来

In [ ]:
df_inner.loc[df_inner['city'].isin(['beijing','shanghai'])]

## 5.11、提取前三个字符，并生成数据表

In [ ]:
pd.DataFrame(df_inner['category-size'].str[:3])

# 六、数据筛选

使用与、或、非三个条件配合大于、小于、等于对数据进行筛选，并进行计数和求和。

## 6.1、使用“与”进行筛选

In [ ]:
df_inner.loc[(df_inner['age'] > 25) & (df_inner['city'] == 'beijing'), ['id','city','age','category','gender']]

## 6.2、使用“或”进行筛选

In [ ]:
df_inner.loc[(df_inner['age'] > 25) | (df_inner['city'] == 'beijing'), ['id','city','age','category','gender']].sort(['age'])

## 6.3、使用“非”条件进行筛选

In [ ]:
df_inner.loc[(df_inner['city'] != 'beijing'), ['id','city','age','category','gender']].sort(['id'])

## 6.4、对筛选后的数据按city列进行计数

In [ ]:
df_inner.loc[(df_inner['city'] != 'beijing'), ['id','city','age','category','gender']].sort(['id']).city.count()

## 6.5、使用query函数进行筛选

In [ ]:
df_inner.query('city == ["beijing", "shanghai"]')

## 6.6、对筛选后的结果按prince进行求和

In [ ]:
df_inner.query('city == ["beijing", "shanghai"]').price.sum()

# 七、数据汇总

主要函数是groupby和pivote_table

## 7.1、对所有的列进行计数汇总

In [ ]:
df_inner.groupby('city').count()

## 7.2、按城市对id字段进行计数

In [ ]:
df_inner.groupby('city')['id'].count()

## 7.3、对两个字段进行汇总计数

In [ ]:
df_inner.groupby(['city','size'])['id'].count()

## 7.4、对city字段进行汇总，并分别计算prince的合计和均值

In [ ]:
df_inner.groupby('city')['price'].agg([len,np.sum, np.mean])

# 八、数据统计

数据采样，计算标准差，协方差和相关系数

## 8.1、简单的数据采样

In [ ]:
df_inner.sample(n=3)

## 8.2、手动设置采样权重

In [ ]:
weights = [0, 0, 0, 0, 0.5, 0.5]
df_inner.sample(n=2, weights=weights)

## 8.3、采样后不放回

In [ ]:
df_inner.sample(n=6, replace=False)

## 8.4、采样后放回

In [ ]:
df_inner.sample(n=6, replace=True)

## 8.5、 数据表描述性统计

In [ ]:
df_inner.describe().round(2).T #round函数设置显示小数位，T表示转置

## 8.6、计算列的标准差

In [ ]:
df_inner['price'].std()

## 8.7、计算两个字段间的协方差

In [ ]:
df_inner['price'].cov(df_inner['m-point'])

## 8.8、数据表中所有字段间的协方差

In [ ]:
df_inner.cov()

## 8.9、两个字段的相关性分析

In [ ]:
df_inner['price'].corr(df_inner['m-point']) #相关系数在-1到1之间，接近1为正相关，接近-1为负相关，0为不相关

## 8.10、数据表的相关性分析

In [ ]:
df_inner.corr()

# 九、数据输出

分析后的数据可以输出为xlsx格式和csv格式

## 9.1、写入Excel

In [ ]:
df_inner.to_excel('excel_to_python.xlsx', sheet_name='bluewhale_cc')

## 9.2、写入到CSV

In [ ]:
df_inner.to_csv('excel_to_python.csv')