In [1]:
import pandas as pd 
df = pd.DataFrame({
    "学号":["a1001","b1002","c1003"],
    "学生":["小明","小红","小王"],
    "性别":["男","女","男"],
    "语文":[122,99,58],
    "数学":[84,145,98],
    "总分":[None,None,None],
})
df

      学号  学生 性别   语文   数学    总分
0  a1001  小明  男  122   84  None
1  b1002  小红  女   99  145  None
2  c1003  小王  男   58   98  None

In [2]:
df["总分"] = df["语文"]+df["数学"]
df["总分"]

0    206
1    244
2    156
Name: 总分, dtype: int64

In [5]:
df = df.loc[df["性别"]=="男"]
df

      学号  学生 性别   语文  数学   总分
0  a1001  小明  男  122  84  206
2  c1003  小王  男   58  98  156

In [15]:
df = df.loc[:,["学生","性别","总分",]]

In [16]:
stu_excel=df.to_excel("test.xlsx",index=0)