# 1、pandas数据结构

[***pandas官网***](https://pandas.pydata.org/docs/index.html#pandas-documentation)

### Series语法

***pd.Series( data, index, dtype, copy)***

|参数名称|描述|
|:-:|:-:|
|data|输入的数据，可以是列表、常量、ndarray 数组等。|
|index|索引值必须是惟一的，如果没有传递索引，则默认为 np.arrange(n)。|
|dtype|dtype表示数据类型，如果没有提供，则会自动判断得出。|
|copy|表示对 data 进行拷贝，默认为 False。|

### Series属性

|参数名称|属性|
|:-:|:-:|
|axes|以列表的形式返回所有行索引标签。|
|dtype|返回对象的数据类型。|
|empty|返回一个空的 Series 对象。|
|ndim|返回输入数据的维数。|
|size|返回输入数据的元素数量。|
|values|以 ndarray 的形式返回 Series 对象。|
|index|返回一个RangeIndex对象，用来描述索引的取值范围。|

One-dimensional ndarray with axis labels (including time series).

参考官方文档：https://pandas.pydata.org/docs/reference/series.html

### DataFrame 语法

***pd.DataFrame( data, index, columns, dtype, copy)***

|参数名称|说明
|:-:|:-:|
|data|输入的数据，可以是 ndarray，series，list，dict，标量以及一个 DataFrame。|
|index|行标签，如果没有传递 index 值，则默认行标签是 np.arange(n)，n 代表 data 的元素个数。|
|columns|列标签，如果没有传递 columns 值，则默认列标签是 np.arange(n)。|
|dtype|dtype表示每一列的数据类型。|
|copy|默认为 False，表示复制数据 data。|

### DataFrame 方法描述

|名称|属性&方法描述|
|:-:|:-:|
|T	|行和列转置。|
|axes|返回一个仅以行轴标签和列轴标签为成员的列表。|
|dtypes|返回每列数据的数据类型。|
|empty|DataFrame中没有数据或者任意坐标轴的长度为0，则返回True。|
|ndim|轴的数量，也指数组的维数。|
|shape|返回一个元组，表示了 DataFrame 维度。|
|size|DataFrame中的元素数量。|
|values|使用 numpy 数组表示 DataFrame 中的元素值。|
|**head()**|返回前 n 行数据。|
|tail()|返回后 n 行数据。|
|shift()|将行或列移动指定的步幅长度。|

Two-dimensional, size-mutable, potentially heterogeneous tabular data.

参考官方文档：https://pandas.pydata.org/docs/reference/frame.html

## 1.1、创建 Series

### 1.1.1、列表创建 Series

In [1]:
import pandas as pd 
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [2]:
import pandas as pd 
s = pd.Series([1,2,3],
              index = list("ABC"),
              dtype="int64",
              name="number"
             )
s

A    1
B    2
C    3
Name: number, dtype: int64

### 1.1.2、字典创建 Series

In [3]:
import pandas as pd 
d = pd.Series({"a":1,"b":2,"c":3})
d

a    1
b    2
c    3
dtype: int64

### 1.1.3、利用 index 创建 Series

In [4]:
import pandas as pd 
s = pd.Series(30,index=["a","b","c"])
s

a    30
b    30
c    30
dtype: int64

## 1.2、创建 DataFrame

### 1.2.1、列表创建 DataFrame

In [5]:
import pandas as pd 
list_2d = [
    [1,2],
    [3,4]
]
df = pd.DataFrame(list_2d)
df

   0  1
0  1  2
1  3  4

In [6]:
import pandas as pd 
list_2d = [
    [1,2],
    [3,4]
]
df = pd.DataFrame(list_2d,
                 columns=["a","b"],
                  index=["x","y"]
                 )
df

   a  b
x  1  2
y  3  4

### 1.2.2、字典创建  DataFrame

In [7]:
import pandas as pd 
d = {"a":[1,3],"b":[2,4]}
df = pd.DataFrame(d,
                  index=["x","y"]
                 )
df

   a  b
x  1  2
y  3  4

### 1.2.3、Series 创建 DataFrame

In [3]:
import pandas as pd
#Series创建DataFrame对象
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

### 1.2.4、导入文件创建  DataFrame

In [8]:
import pandas as pd 
df = pd.read_excel("./data.xlsx")
df

       货号 商品代码  颜色代码 商品名称 品牌   成本 季节  商品年份  上架费     在售       商家日期
0  qwx125  qwx   125   是法  a  180  春  2020  2.5   True 2018-01-01
1  sfh582  sfh   582   从给  b  150  夏  2020  3.5  False 2019-02-01
2  cfr584  cfr   584   人发  c  160  秋  2020  4.5   True 2018-03-01
3  dfr154  dfr   154   同意  a  561  东  2020  5.5  False 2019-04-01
4  zdr547  zdr   547   余就  b  174  夏  2020  6.5   True 2020-05-01
5  sht547  sht   547   号内  c  185  春  2020  7.5  False 2018-06-01
6  xdf428  xdf   428   符个  b  541  东  2020  8.5   True 2020-07-01

## 1.3、DataFrame 属性用法综合

In [4]:
import pandas as pd 
df = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006], 
"date":pd.date_range('20130102', periods=6),
"city":['Beijing ', 'WuHan', ' guangzhou ', 'Shenzhen', 'shanghai', 'BEIJING '],
"age":[23,44,54,32,34,32],
"category":['100-A','100-B','110-A','110-C','210-A','130-F'],
"price":[1200,None,2133,5433,None,4432]},
columns =['id','date','city','category','age','price'])
print("原始表格--------------------------------------------")
print(df)
print()
print("DataFrame的维度------df.shape-------------------------------")
#DataFrame的维度
print(df.shape)
print()
print("数据表基本信息 df.info() （维度、列名称、数据格式、所占空间等）")
#数据表基本信息（维度、列名称、数据格式、所占空间等）
print(df.info())
print()
print("每列的数据类型--------df.dtypes-----------------------------")
#每列的数据类型
print(df.dtypes)
print()
print("一列的数据类型---------df['price'].dtype----------------------------")
#一列的数据类型
print(df["price"].dtype)
print()
print("查看某所有空值---------df.isnull()----------------------------")
#查看某所有空值
print(df.isnull())
print()
print("查看某一列空值----------df['price'].isnull()---------------------------")
#查看某一列空值
print(df["price"].isnull())
print()
print("查看某一列的唯一值（提取唯一值）df['price'].unique()-------------------")
#查看某一列的唯一值（提取唯一值）
print(df['price'].unique())
print()
print("查看数据表的值-----------df.values-------------------------")
# 查看数据表的值
print(df.values)
print()
print("获取列名称----------------df.columns------------------------")
# 获取列名称
print(df.columns)
print()
print("查看前5行数据、后5行数据---df.head()-----------------------")
# 查看前5行数据、后5行数据
print(df.head())
print()
print(df.tail())

原始表格--------------------------------------------
     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03        WuHan    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

DataFrame的维度------df.shape-------------------------------
(6, 6)

数据表基本信息 df.info() （维度、列名称、数据格式、所占空间等）
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        6 non-null      int64
 1   date      6 non-null      datetime64[ns]
 2   city      6 non-null      object
 3   category  6 non-null      object
 4   age       6 non-null      int64
 5   price     4 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 420.0+ bytes
None

每列的数据类型--------df.dtypes-----------------------------
id                   int64
date        datetime64[ns]
city                object
category            object
age                  int64
price              float64
dtype: object

一列的数据类型---------df['price'].dtype----------------------------
float64

查看某所有空值---------df.isnull()----------------------------
      id   date   city  category    age  price
0  False  False  False     False  False  False
1  False  False  False     False  False   True
2  False  False  False     False  False  False
3  False  False  False     False  False  False
4  False  False  False     False  False   True
5  False  False  False     False  False  False

查看某一列空值----------df['price'].isnull()---------------------------
0    False
1     True
2    False
3    False
4     True
5    False
Name: price, dtype: bool

查看某一列的唯一值（提取唯一值）df['price'].unique()-------------------
[1200.   nan 2133. 5433. 4432.]

查看数据表的值-----------df.values-------------------------
[[1001 Timestamp('2013-01-02 00:00:00') 'Beijing ' '100-A' 23 1200.0]
 [1002 Timestamp('2013-01-03 00:00:00') 'WuHan' '100-B' 44 nan]
 [1003 Timestamp('2013-01-04 00:00:00') ' guangzhou ' '110-A' 54 2133.0]
 [1004 Timestamp('2013-01-05 00:00:00') 'Shenzhen' '110-C' 32 5433.0]
 [1005 Timestamp('2013-01-06 00:00:00') 'shanghai' '210-A' 34 nan]
 [1006 Timestamp('2013-01-07 00:00:00') 'BEIJING ' '130-F' 32 4432.0]]

获取列名称----------------df.columns------------------------
Index(['id', 'date', 'city', 'category', 'age', 'price'], dtype='object')

查看前5行数据、后5行数据---df.head()-----------------------
     id       date         city category  age   price
0  1001 2013-01-02     Beijing     100-A   23  1200.0
1  1002 2013-01-03        WuHan    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN

     id       date         city category  age   price
1  1002 2013-01-03        WuHan    100-B   44     NaN
2  1003 2013-01-04   guangzhou     110-A   54  2133.0
3  1004 2013-01-05     Shenzhen    110-C   32  5433.0
4  1005 2013-01-06     shanghai    210-A   34     NaN
5  1006 2013-01-07     BEIJING     130-F   32  4432.0

# 2、Excel相关 read_excel() 参数用法

***语法：***

pandas.read_excel(***io***, ***sheet_name=0***, *, ***header=0***, ***names=None***, ***index_col=None***, ***usecols=None***, ***dtype=None***, engine=None, ***converters=None***, true_values=None, false_values=None, ***skiprows=None***, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=_NoDefault.no_default, ***date_format=None***, thousands=None, decimal='.', comment=None, skipfooter=0, storage_options=None, dtype_backend=_NoDefault.no_default, engine_kwargs=None)

参考官方文档：https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

## 2.1、文件路径 io

In [9]:
import pandas as pd 
df = pd.read_excel("./data.xlsx")
df

       货号 商品代码  颜色代码 商品名称 品牌   成本 季节  商品年份  上架费     在售       商家日期
0  qwx125  qwx   125   是法  a  180  春  2020  2.5   True 2018-01-01
1  sfh582  sfh   582   从给  b  150  夏  2020  3.5  False 2019-02-01
2  cfr584  cfr   584   人发  c  160  秋  2020  4.5   True 2018-03-01
3  dfr154  dfr   154   同意  a  561  东  2020  5.5  False 2019-04-01
4  zdr547  zdr   547   余就  b  174  夏  2020  6.5   True 2020-05-01
5  sht547  sht   547   号内  c  185  春  2020  7.5  False 2018-06-01
6  xdf428  xdf   428   符个  b  541  东  2020  8.5   True 2020-07-01

## 2.2、工作表名 sheet_name

In [10]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                  sheet_name=1
                  )
df

   dfr154  dfr  154  同意  a  561  东  2019
0  zdr547  zdr  547  余就  b  174  夏  2020
1  sht547  sht  547  号内  c  185  春  2018
2  xdf428  xdf  428  符个  b  541  东  2020

In [11]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                  sheet_name="Sheet2"
                  )
df

   dfr154  dfr  154  同意  a  561  东  2019
0  zdr547  zdr  547  余就  b  174  夏  2020
1  sht547  sht  547  号内  c  185  春  2018
2  xdf428  xdf  428  符个  b  541  东  2020

In [12]:
import pandas as pd 
# 返回的是字典
d_df = pd.read_excel("./data.xlsx",
                  sheet_name=["Sheet2","Sheet3"]
                  )
print(d_df)
print()
d_df["Sheet2"]

{'Sheet2':    dfr154  dfr  154  同意  a  561  东  2019
0  zdr547  zdr  547  余就  b  174  夏  2020
1  sht547  sht  547  号内  c  185  春  2018
2  xdf428  xdf  428  符个  b  541  东  2020, 'Sheet3':   Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0         货号       商品代码       颜色代码       商品名称         品牌         成本
1     zdr547        zdr        547         余就          b        174
2     sht547        sht        547         号内          c        185

  Unnamed: 6 Unnamed: 7
0         季节       商品年份
1          夏       2020
2          春       2018  }

   dfr154  dfr  154  同意  a  561  东  2019
0  zdr547  zdr  547  余就  b  174  夏  2020
1  sht547  sht  547  号内  c  185  春  2018
2  xdf428  xdf  428  符个  b  541  东  2020

In [5]:
import pandas as pd 
# 返回的是字典
d_df = pd.read_excel("./data.xlsx",
                     sheet_name=None # 表示读取该工作簿所有的工作表
                  )
# 可全部输出
# print(d_df) 

d_df["Sheet2"] # 单独输出一个工作表

   dfr154  dfr  154  同意  a  561  东  2019
0  zdr547  zdr  547  余就  b  174  夏  2020
1  sht547  sht  547  号内  c  185  春  2018
2  xdf428  xdf  428  符个  b  541  东  2020

## 2.3、指定作为索引的 行 / 列 header / index_col

In [6]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                  sheet_name="Sheet2",
                   header=0 # 默认为0，将第一行定义为表头
                  )
print(df)
print("-"*45)
df = pd.read_excel("./data.xlsx",
                  sheet_name="Sheet2",
                  header=None # 表示读取的工作表没有表头，但dataframe加上默认索引表头
                  )
print(df)
print("-"*45)
df = pd.read_excel("./data.xlsx",
                  sheet_name="Sheet3",
                  header=1 # 表示读取的工作表表头在第2行，将第二行作为表头
                  )
print(df)
print("-"*45)
df = pd.read_excel("./data.xlsx",
                  sheet_name="Sheet4",
                  header=[0,1], # 表示读取的工作表表头在第1，2的两行，将第这两行都作为表头
                  index_col=0   # 表示读取的工作表第1列定义为索引列
                  )
print(df)

   dfr154  dfr  154  同意  a  561  东  2019
0  zdr547  zdr  547  余就  b  174  夏  2020
1  sht547  sht  547  号内  c  185  春  2018
2  xdf428  xdf  428  符个  b  541  东  2020
---------------------------------------------
        0    1    2   3  4    5  6     7
0  dfr154  dfr  154  同意  a  561  东  2019
1  zdr547  zdr  547  余就  b  174  夏  2020
2  sht547  sht  547  号内  c  185  春  2018
3  xdf428  xdf  428  符个  b  541  东  2020
---------------------------------------------
       货号 商品代码  颜色代码 商品名称 品牌   成本 季节  商品年份
0  zdr547  zdr   547   余就  b  174  夏  2020
1  sht547  sht   547   号内  c  185  春  2018
---------------------------------------------
         河滨           河滨后
货号     商品代码 颜色代码 商品名称  品牌   成本 季节  商品年份
zdr547  zdr  547   余就   b  174  夏  2020
sht547  sht  547   号内   c  185  春  2018

## 2.4、使用列 usecols

In [15]:
import pandas as pd 
df = pd.read_excel("./data.xlsx")
df

       货号 商品代码  颜色代码 商品名称 品牌   成本 季节  商品年份  上架费     在售       商家日期
0  qwx125  qwx   125   是法  a  180  春  2020  2.5   True 2018-01-01
1  sfh582  sfh   582   从给  b  150  夏  2020  3.5  False 2019-02-01
2  cfr584  cfr   584   人发  c  160  秋  2020  4.5   True 2018-03-01
3  dfr154  dfr   154   同意  a  561  东  2020  5.5  False 2019-04-01
4  zdr547  zdr   547   余就  b  174  夏  2020  6.5   True 2020-05-01
5  sht547  sht   547   号内  c  185  春  2020  7.5  False 2018-06-01
6  xdf428  xdf   428   符个  b  541  东  2020  8.5   True 2020-07-01

In [16]:
df = pd.read_excel("./data.xlsx",
                  usecols=None #默认全选
                  )
df

       货号 商品代码  颜色代码 商品名称 品牌   成本 季节  商品年份  上架费     在售       商家日期
0  qwx125  qwx   125   是法  a  180  春  2020  2.5   True 2018-01-01
1  sfh582  sfh   582   从给  b  150  夏  2020  3.5  False 2019-02-01
2  cfr584  cfr   584   人发  c  160  秋  2020  4.5   True 2018-03-01
3  dfr154  dfr   154   同意  a  561  东  2020  5.5  False 2019-04-01
4  zdr547  zdr   547   余就  b  174  夏  2020  6.5   True 2020-05-01
5  sht547  sht   547   号内  c  185  春  2020  7.5  False 2018-06-01
6  xdf428  xdf   428   符个  b  541  东  2020  8.5   True 2020-07-01

In [17]:
df = pd.read_excel("./data.xlsx",
                  usecols="a,c:e"
                  )
df

       货号  颜色代码 商品名称 品牌
0  qwx125   125   是法  a
1  sfh582   582   从给  b
2  cfr584   584   人发  c
3  dfr154   154   同意  a
4  zdr547   547   余就  b
5  sht547   547   号内  c
6  xdf428   428   符个  b

In [18]:
df = pd.read_excel("./data.xlsx",
                  usecols=[0,2]
                  )
df

       货号  颜色代码
0  qwx125   125
1  sfh582   582
2  cfr584   584
3  dfr154   154
4  zdr547   547
5  sht547   547
6  xdf428   428

In [19]:
#推荐使用这种

df = pd.read_excel("./data.xlsx",
                  usecols=["货号","颜色代码"]
                  )
df

       货号  颜色代码
0  qwx125   125
1  sfh582   582
2  cfr584   584
3  dfr154   154
4  zdr547   547
5  sht547   547
6  xdf428   428

In [20]:
df = pd.read_excel("./data.xlsx",
                  usecols = lambda x :(x == "货号")|(x == "颜色代码")
                  )
df

       货号  颜色代码
0  qwx125   125
1  sfh582   582
2  cfr584   584
3  dfr154   154
4  zdr547   547
5  sht547   547
6  xdf428   428

## 2.5、跳过行 skiprows

In [21]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                  sheet_name="Sheet3",
                  header=None,
                  skiprows = 1   #从第一行开始算
                
                  )
print(df)

        0     1     2     3   4    5   6     7
0      货号  商品代码  颜色代码  商品名称  品牌   成本  季节  商品年份
1  zdr547   zdr   547    余就   b  174   夏  2020
2  sht547   sht   547    号内   c  185   春  2018

## 2.6、使用列名的列表 names

In [22]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                  sheet_name="Sheet2",
                  header=None,
                  names=["货号","商品代码","颜色代码","商品名称","品牌","成本","季节","商品年份"]
                  )
df

       货号 商品代码  颜色代码 商品名称 品牌   成本 季节  商品年份
0  dfr154  dfr   154   同意  a  561  东  2019
1  zdr547  zdr   547   余就  b  174  夏  2020
2  sht547  sht   547   号内  c  185  春  2018
3  xdf428  xdf   428   符个  b  541  东  2020

## 2.6、查看设置列的类型 dtype

字典，{"列名"：类型}

In [23]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                  )
df

       货号 商品代码  颜色代码 商品名称 品牌   成本 季节  商品年份  上架费     在售       商家日期
0  qwx125  qwx   125   是法  a  180  春  2020  2.5   True 2018-01-01
1  sfh582  sfh   582   从给  b  150  夏  2020  3.5  False 2019-02-01
2  cfr584  cfr   584   人发  c  160  秋  2020  4.5   True 2018-03-01
3  dfr154  dfr   154   同意  a  561  东  2020  5.5  False 2019-04-01
4  zdr547  zdr   547   余就  b  174  夏  2020  6.5   True 2020-05-01
5  sht547  sht   547   号内  c  185  春  2020  7.5  False 2018-06-01
6  xdf428  xdf   428   符个  b  541  东  2020  8.5   True 2020-07-01

In [24]:
df.dtypes

货号              object
商品代码            object
颜色代码             int64
商品名称            object
品牌              object
成本               int64
季节              object
商品年份             int64
上架费            float64
在售                bool
商家日期    datetime64[ns]
dtype: object

In [25]:
df = pd.read_excel("./data.xlsx",
                  dtype={
                      "货号":"str",
                      "商品代码":"string",
                      "季节":"category",
                      "品牌":"category",
                      #"商品年份":"period[Y]"
                  }
                )

df.dtypes

货号              object
商品代码    string[python]
颜色代码             int64
商品名称            object
品牌            category
成本               int64
季节            category
商品年份             int64
上架费            float64
在售                bool
商家日期    datetime64[ns]
dtype: object

In [26]:
# 修改数据类型
df["商家日期"] = df["商家日期"].astype("string")
df["商家日期"].dtype

string[python]

 parse_dates

date_dates

In [27]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet5",
                  )
print(df.dtypes)
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet5",
                   parse_dates=[0,1]
                  )
df.dtypes
print(df.dtypes)

日期1    object
日期2     int64
dtype: object
日期1    datetime64[ns]
日期2    datetime64[ns]
dtype: object

## 2.7、解析日期 parse_dates / date_parser

In [3]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet6",
                  )
print(df)
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet6",
                   parse_dates=[[0,1,2]]
                  )
print(df)
print(df.dtypes)

      年  月  日   笑脸
0  2021  1  3  111
1  2022  2  4  222
       年_月_日   笑脸
0 2021-01-03  111
1 2022-02-04  222
年_月_日    datetime64[ns]
笑脸                int64
dtype: object

In [4]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet6",

                  )
df

      年  月  日   笑脸
0  2021  1  3  111
1  2022  2  4  222

In [5]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet6",

                   parse_dates={"日期":["年","月","日"]}
                  )
df

          日期   笑脸
0 2021-01-03  111
1 2022-02-04  222

In [6]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet6",

                  )
df

      年  月  日   笑脸
0  2021  1  3  111
1  2022  2  4  222

In [7]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet7",

                  )
df
df.dtypes

日期    object
dtype: object

In [9]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet7",

                   parse_dates=[0],
                   date_parser=lambda x :pd.to_datetime(
                   x,format = "%Y年%m月%d日"
                   )
                  )
df.dtypes
# date_parser 新版本弃用，改用 date_format


# date_format: str or dict of column -> format, default None
# If used in conjunction with parse_dates, will parse dates according to this format. For anything more complex, please read in as object and then apply to_datetime() as-needed.

C:\Users\Ding\AppData\Local\Temp\ipykernel_1196\1951835167.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_excel("./data.xlsx",

日期    datetime64[ns]
dtype: object

In [64]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet7",
                   parse_dates=[0],
                   date_format="%Y年%m月%d日"
                   )
df.dtypes

日期    datetime64[ns]
dtype: object

### 2.7.1、将长日期转化为短日期

In [1]:
import pandas as pd 
# 创建一个dataframe
data = {'time1': ['2022-02-05 01:02:09', '2022-03-08 01:02:09']}
df = pd.DataFrame(data)
print(df)
# 将time1列转换为日期格式
df['time1'] = pd.to_datetime(df['time1'])
# 将日期时间格式转换为只包含年月日的格式
df['time1'] = df['time1'].dt.date
print(df)

                 time1
0  2022-02-05 01:02:09
1  2022-03-08 01:02:09
        time1
0  2022-02-05
1  2022-03-08

In [2]:
import pandas as pd 
from datetime import datetime

df = pd.DataFrame({"time1":[datetime(2018,1,2,13,8,12),datetime(2020,12,12,3,18,2)]})
print(df)

df['time1'] = df['time1'].dt.date
print(df)

                time1
0 2018-01-02 13:08:12
1 2020-12-12 03:18:02
        time1
0  2018-01-02
1  2020-12-12

In [ ]:
import pandas as pd
# 输出excel为短日期

# 创建一个包含日期的DataFrame
df = pd.DataFrame({
    'date': pd.to_datetime([
        '2023-01-01',
        '2023-01-02',
        '2023-01-03'
    ])
})
# 设置日期格式
df['date'] = df['date'].dt.strftime("%Y/%m/%d")  # 根据需要设置你想要的日期格式
print(df.dtypes) 
# 导出到Excel
df.to_excel('output.xlsx', index=False)

In [9]:
import pandas as pd 
from datetime import datetime
df = pd.read_excel("./data.xlsx",
                  sheet_name="Sheet14"
                  )
# 将合同日期列转化为 datetime 对象，如果转化失败，errors="coerce",则会将无法转化的值设置为NaT（not a time）
df["合同日期"] = pd.to_datetime(df["合同日期"],errors="coerce")
# dropna方法删除含有NaT的行
df = df.dropna(subset = ["合同日期"])
# 获取今天的日期
today = datetime.now().date()
# 条件判断
result_df = df[(df["合同日期"].dt.date == today) & (df["载体"] > 5)]
# 输出excel转化为短日期文本
result_df["合同日期"] = result_df["合同日期"].dt.strftime('%Y/%m/%d')
result_df["截至日期"] = result_df["截至日期"].dt.strftime('%Y/%m/%d')
result_df.to_excel("./datetime.xlsx",index = False)

C:\Users\Ding\AppData\Local\Temp\ipykernel_29668\1518707819.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df["合同日期"] = result_df["合同日期"].dt.strftime('%Y/%m/%d')
C:\Users\Ding\AppData\Local\Temp\ipykernel_29668\1518707819.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df["截至日期"] = result_df["截至日期"].dt.strftime('%Y/%m/%d')

### 2.7.1、获取当前日期 时间

In [9]:
from datetime import date
from datetime import datetime
today = date.today()
print("今天的日期是：", today)
print()
now = datetime.now()
print("现在的时间是：", now)

今天的日期是： 2024-02-22

现在的时间是： 2024-02-22 21:09:15.159510

## 2.8、缺失值 NaN (Not a Number)

na_values:scalar, str, list-like, or dict, default None

NaN 的dtype是<float>类型

In [10]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet8",
                  )
print(df)

    列1   列2
0    a    0
1  NaN  NaN
2  NaN
3    B    1

In [11]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet8",
                  na_values="a"
                  )
print(df)

    列1   列2
0  NaN    0
1  NaN  NaN
2  NaN
3    B    1

In [12]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet8",
                  na_values=["a","B"]
                  )
print(df)

   列1   列2
0 NaN    0
1 NaN  NaN
2 NaN
3 NaN    1

In [13]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet8",
                   # 指定替换列
                  na_values={"列1":["a",0," "]}
                  )
print(df)

    列1   列2
0  NaN    0
1  NaN  NaN
2  NaN
3    B    1

## 2.9、值转换器 converters

converters：dict,默认None

In [76]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet9"
                  )                   
df

   huohao  xiaoliang
0   na a           5
1   n bb          12

In [80]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet9",
                  converters={
                      "huohao":lambda x :x.strip()
                  }
                  )                   
print(df)

  huohao  xiaoliang
0   na a          5
1   n bb         12

In [78]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet9",
                  converters={
                      "huohao":str.strip
                  }
                  )                   
print(df)

  huohao  xiaoliang
0   na a          5
1   n bb         12

## 2.10、视为True / False的的值 true_values / false_values

true_values:list,默认None

false_values:list,默认None

只对字符串起作用

In [21]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet10",
                  )                   
print(df)

  lie1 lie2
0    a    b
1    c    d
2    e    f

In [28]:
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet10",
                  true_values=["a","b"],
                  false_values=["e","c"],
                   dtype = {"lie3":bool}
                  )                   
print(df)
df.dtypes

    lie1 lie2   lie3
0   True    b  False
1  False    d   True
2  False    f   True

lie1      bool
lie2    object
lie3      bool
dtype: object

## 2.11、是否重命名重复列  mangle_dupe_cols

mangle_dupe_cols :bool,默认True

## 2.12、要解析的行数 norws

norws：int,默认None

表头不算

In [31]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet11",
                  )                   
print(df)
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet11",
                   nrows=3
                  )                   
print(df)

   a列
0   1
1   2
2   3
3   4
   a列
0   1
1   2
2   3

## 2.13、将千分位字符串解析为数字 thousands

thousands:str,默认None

## 2.14、尽量将float转化为int convert_float

convert_float：bool,默认True

# 3、Excel相关 to_excel() 参数用法

DataFrame.to_excel(***excel_writer***, *, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, ***index=True***, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, inf_rep='inf', freeze_panes=None, storage_options=None, engine_kwargs=None)

参考官方文档：https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

## 3.1、文件路径 excel_writer

excel_writer:path-like, file-like, or ExcelWriter object

In [2]:
import pandas as pd 
from datetime import datetime 
df1 = pd.DataFrame({
    "日期":[datetime(2020,11,1),datetime(2023,11,5)],
    "销量":[995,556]
})
df2 = pd.DataFrame({
    "日期":[datetime(2020,12,2),datetime(2023,12,6)],
    "销量":[145,256]
})
print(df1)
print(df2)
with pd.ExcelWriter("./data_fu_ben.xlsx",datetime_format="YYYY-MM-DD") as writer:
    df1.to_excel(writer,sheet_name="11")
    df2.to_excel(writer,sheet_name="22")

        riqi  xiaoliang
0 2020-11-01        995
1 2023-11-05        556
        riqi  xiaoliang
0 2020-12-02        945
1 2023-12-06        956

## 3.2、输出工作表名 sheet_name

sheet_name：str, default "Sheet1"

## 3.3、是否输出索引列 index=True,

index：bool, default True

## 3.4、浮点数格式输出 float_format=None,

float_format：str, optional

## 3.5、缺失值表达形式 na_rep=''"

na_rep：str, default ""

综合

In [38]:
import pandas as pd 
data = {"xiao_liang":[10,25],
        "sou_jia":[18.564,14.257]
}
df=pd.DataFrame(data)
print(df)
#保留2位小数
df.to_excel("./data_fu_ben.xlsx",
           sheet_name="first_sheet",
            index=False,
            # 保留2位小数
            float_format="%.2f",
            na_rep="空"
           )

   xiao_liang  sou_jia
0          10   18.564
1          25   14.257

# 4、写读 csv文件

## 4.1、写csv文件 to_csv

DataFrame.to_csv(***path_or_buf=None***, *, sep=',', na_rep='', float_format=None, columns=None, header=True, ***index=True***, index_label=None, mode='w', ***encoding=None***, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)

参考官方文档：https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [46]:
import pandas as pd 
df = pd.DataFrame(
{
    "一":[1,2],
    "二":[3,4]
}
)
# 一般情况写下3个参数：
df.to_csv("./data.csv",index=False,encoding="utf-8")

## 4.2、读csv文件 read_csv

pandas.read_csv(***filepath_or_buffer***, *, sep=_NoDefault.no_default, delimiter=None, header='infer', names=_NoDefault.no_default, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=_NoDefault.no_default, skip_blank_lines=True, parse_dates=None, infer_datetime_format=_NoDefault.no_default, keep_date_col=_NoDefault.no_default, date_parser=_NoDefault.no_default, date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=_NoDefault.no_default, low_memory=True, memory_map=False, float_precision=None, storage_options=None, dtype_backend=_NoDefault.no_default)

参考官方文档：https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [47]:
df = pd.read_csv("./data.csv",encoding="utf-8")
df

   一  二
0  1  3
1  2  4

# 5、DataFrame相关操作

## 5.1、选择数据区域 selecting

## 5.2、索引 index

作用：识别；对齐；获取和设置

### 5.2.1、dict_like 类型选择

In [2]:
import pandas as pd 
s = pd.Series({
    "a":1,
    "b":2,
    "c":3
})
s
df =pd.DataFrame({
    "a":[1,4,7],
    "b":[2,5,8],
    "c":[3,6,9],},
    index=list("xyz"))
df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [16]:
s["b"]

2

In [17]:
df["b"]

x    2
y    5
z    8
Name: b, dtype: int64

In [18]:
s[1]

2

In [19]:
s[["a","c"]]

a    1
c    3
dtype: int64

In [20]:
df[["a","c"]]

   a  c
x  1  3
y  4  6
z  7  9

In [21]:
df[1:3]

   a  b  c
y  4  5  6
z  7  8  9

In [22]:
s[1:3]

b    2
c    3
dtype: int64

In [23]:
df[1:3]

   a  b  c
y  4  5  6
z  7  8  9

In [24]:
s[[True,False,True]]

a    1
c    3
dtype: int64

In [25]:
df[[True,False,True]]

   a  b  c
x  1  2  3
z  7  8  9

In [3]:
df[(df["b"]>2) & (df["b"]<6)]

   a  b  c
y  4  5  6

In [4]:
df[(df["b"]==2) | (df["b"]==8)]

   a  b  c
x  1  2  3
z  7  8  9

In [8]:
df[~df["b"]==2]

Empty DataFrame
Columns: [a, b, c]
Index: []

### 5.2.1、dict_like 切片类型选择

In [11]:
import pandas as pd 
s = pd.Series({
    "a":1,
    "b":2,
    "c":3
})
print(s)
df =pd.DataFrame({
    "a":[1,4,7],
    "b":[2,5,8],
    "c":[3,6,9],},
    index=list("xyz"))
df

a    1
b    2
c    3
dtype: int64

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [10]:
s[0:2]

a    1
b    2
dtype: int64

In [12]:
s[0:-1]

a    1
b    2
dtype: int64

In [13]:
s[::-1]

c    3
b    2
a    1
dtype: int64

In [14]:
s[::-2]

c    3
a    1
dtype: int64

In [15]:
df[0:2]

   a  b  c
x  1  2  3
y  4  5  6

In [16]:
s["a":"b"]

a    1
b    2
dtype: int64

In [22]:
df["x":"y"]

   a  b  c
x  1  2  3
y  4  5  6

## 5.3、选择数据 df.loc

loc(location位置缩写)

df.loc [row_indexer,column_indexer]

主要运用在行标签和列标签的选择上,参数为str

In [27]:
import pandas as pd 
df =pd.DataFrame({
    "a":[1,4,7],
    "b":[2,5,8],
    "c":[3,6,9],
    "d":[12,15,18],},
    index=list("xyz"))
df

   a  b  c   d
x  1  2  3  12
y  4  5  6  15
z  7  8  9  18

In [28]:
df.loc["x"]

a     1
b     2
c     3
d    12
Name: x, dtype: int64

In [29]:
df.loc["x","b"]

2

In [30]:
df.loc[["x","y"],["b","d"]]

   b   d
x  2  12
y  5  15

In [31]:
df.loc[[True,False,True],[True,False,True,False]]

   a  c
x  1  3
z  7  9

In [32]:
df.loc["x":"y","b":"d"]

   b  c   d
x  2  3  12
y  5  6  15

In [33]:
df.loc[:,"b":"d"]

   b  c   d
x  2  3  12
y  5  6  15
z  8  9  18

In [35]:
# 切片
df.loc[:,::2]

   a  c
x  1  3
y  4  6
z  7  9

## 5.4、选择数据 df.iloc

df.iloc[row_indexer,column_indexer]

主要运用在行索引和列索引的选择上，参数为int

In [42]:
import pandas as pd 
df =pd.DataFrame({
    "a":[1,4,7],
    "b":[2,5,8],
    "c":[3,6,9],
    "d":[12,15,18],},
    index=list("xyz"))
df

   a  b  c   d
x  1  2  3  12
y  4  5  6  15
z  7  8  9  18

In [43]:
df.iloc[0]

a     1
b     2
c     3
d    12
Name: x, dtype: int64

In [45]:
df.iloc[0,1]

2

In [46]:
df.iloc[[0,1],[1,3]]

   b   d
x  2  12
y  5  15

In [49]:
df.iloc[0:2,1:3]

   b  c
x  2  3
y  5  6

In [47]:
df.iloc[[True,False,True],[True,False,True,False]]

   a  c
x  1  3
z  7  9

# 5、数据赋值

In [60]:
import pandas as pd 
s = pd.Series({
    "a":1,
    "b":2,
    "c":3
})
print(s)
df =pd.DataFrame({
    "a":[1,5,9],
    "b":[2,6,10],
    "c":[3,7,11],
    "d":[4,8,12],},
    index=list("xyz"))
df

a    1
b    2
c    3
dtype: int64

   a   b   c   d
x  1   2   3   4
y  5   6   7   8
z  9  10  11  12

In [51]:
s[0]=10
s

a    10
b     2
c     3
dtype: int64

In [52]:
s.iloc[1]=11
s

a    10
b    11
c     3
dtype: int64

In [53]:
s.loc["c"]=12
s

a    10
b    11
c    12
dtype: int64

In [54]:
#新增数据只能用 loc
s.loc["d"]=13
s

a    10
b    11
c    12
d    13
dtype: int64

In [55]:
s.iloc[1:3]=20
s

a    10
b    20
c    20
d    13
dtype: int64

In [56]:
s.loc["c":"d"] = 30
s

a    10
b    20
c    30
d    30
dtype: int64

In [59]:
s[s>25] = 100
s

a     10
b     20
c    100
d    100
dtype: int64

In [62]:
df["a"]=100
df

     a   b   c   d
x  100   2   3   4
y  100   6   7   8
z  100  10  11  12

In [63]:
df["b"] = df["b"]*10
df

     a    b   c   d
x  100   20   3   4
y  100   60   7   8
z  100  100  11  12

In [65]:
df["e"] = df["c"]+df["d"]
df

     a    b   c   d   e
x  100   20   3   4   7
y  100   60   7   8  15
z  100  100  11  12  23

In [67]:
df.loc[df["e"]>10,"e"] = 200
df

     a    b   c   d    e
x  100   20   3   4    7
y  100   60   7   8  200
z  100  100  11  12  200

In [69]:
df.loc["y":"z","c":"d"] = 666
df

     a    b    c    d    e
x  100   20    3    4    7
y  100   60  666  666  200
z  100  100  666  666  200

# 6、数据计算

## 6.1、对空值的处理

number +-*/ NaN == NaN

NaN +-*/ number == NaN

### 6.1.1、对空值进行填充 fillna()

faillna(0)

### 6.1.2、获取对应符号的获取函数操作

" + " --> add(fill_value = 0)

" - " --> sub(fill_value = 0)

" * " --> mul(fill_value = 0)

" / " --> div(fill_value = 0)

In [71]:
import pandas as pd 
import numpy as np

df =pd.DataFrame(
[[1,2],
[1,np.NaN],
[np.NaN,1]],
    columns=["a","b"]
)
df

     a    b
0  1.0  2.0
1  1.0  NaN
2  NaN  1.0

In [72]:
df["a"]+df["b"]

0    3.0
1    NaN
2    NaN
dtype: float64

In [76]:
df["a"].fillna(0)+df["b"].fillna(0)

0    3.0
1    1.0
2    1.0
dtype: float64

In [73]:
df["a"]-df["b"]

0   -1.0
1    NaN
2    NaN
dtype: float64

In [77]:
df["a"].fillna(0)-df["b"].fillna(0)

0   -1.0
1    1.0
2   -1.0
dtype: float64

In [74]:
df["a"]*df["b"]

0    2.0
1    NaN
2    NaN
dtype: float64

In [75]:
df["a"]/df["b"]

0    0.5
1    NaN
2    NaN
dtype: float64

In [79]:
df["a"].add(df["b"],fill_value=0)

0    3.0
1    1.0
2    1.0
dtype: float64

In [80]:
df["a"].sub(df["b"],fill_value=0)

0   -1.0
1    1.0
2   -1.0
dtype: float64

In [81]:
df["a"].mul(df["b"],fill_value=0)

0    2.0
1    0.0
2    0.0
dtype: float64

In [82]:
df["a"].div(df["b"],fill_value=0)

0    0.5
1    inf
2    0.0
dtype: float64

## 6.2、对除数为0的处理

inf(infinty无穷大)

number / 0 == inf

-number / 0 == -inf

pandas.options.mode.use_inf_as_na = True

当有无穷大的数时当作na处理

number / 0 == NaN

-number / 0 == NaN

In [83]:
import pandas as pd 
import numpy as np

df =pd.DataFrame(
[[1,0],
[-1,0],
[0,0]],
    columns=["a","b"]
)
df

   a  b
0  1  0
1 -1  0
2  0  0

In [85]:
s = df["a"].div(df["b"])
s

0    inf
1   -inf
2    NaN
dtype: float64

In [86]:
s == np.inf

0     True
1    False
2    False
dtype: bool

In [87]:
pd.options.mode.use_inf_as_na = True
df["a"].div(df["b"])

0   NaN
1   NaN
2   NaN
dtype: float64

## 6.3、计算操作中Series的index不对齐情况

In [103]:
import pandas as pd 
s1 = pd.Series(
[1,2],index=["a","b"]
)
print(s1)
s2 = pd.Series(
[10,20],index=["b","d"]
)
print(s2)

a    1
b    2
dtype: int64
b    10
d    20
dtype: int64

In [106]:
pd.Series.add(s1,s2)

a     NaN
b    12.0
d     NaN
dtype: float64

In [105]:
s1.add(s2)

a     NaN
b    12.0
d     NaN
dtype: float64

In [107]:
s1.add(s2,fill_value = 0)

a     1.0
b    12.0
d    20.0
dtype: float64

In [109]:
import pandas as pd 
df1 =pd.DataFrame(
[[1,2],
[3,4]],
    columns=["a","b"],index=["x","y"]
)
df1

   a  b
x  1  2
y  3  4

In [112]:
import pandas as pd 
df2 =pd.DataFrame(
[[10,20],
[30,40]],
    columns=["c","b"],index=["z","y"]
)
df2

    c   b
z  10  20
y  30  40

In [113]:
df1.add(df2)

    a     b   c
x NaN   NaN NaN
y NaN  44.0 NaN
z NaN   NaN NaN

In [114]:
df1.add(df2,fill_value = 0)

     a     b     c
x  1.0   2.0   NaN
y  3.0  44.0  30.0
z  NaN  20.0  10.0

## 6.3、计算操作中 MultiIndex 多重索引

In [126]:
import pandas as pd 
df = pd.read_excel("./data.xlsx",
                   sheet_name="Sheet13",
                   header=[0,1]
                  )
df

  今冬    淘宝
  销售 利润 销售 利润
0  1  2  3  4
1  5  6  7  8

In [127]:
df.columns

MultiIndex([('今冬', '销售'),
            ('今冬', '利润'),
            ('淘宝', '销售'),
            ('淘宝', '利润')],
           )

In [128]:
df[('今冬', '销售')]+df[('淘宝', '销售')]

0     4
1    12
dtype: int64

In [133]:
df_total=df["今冬"]+df["淘宝"]
df_total

   销售  利润
0   4   6
1  12  14

In [134]:
df_total.columns = pd.MultiIndex.from_product(
    [
        ["总"],df_total.columns
    ]
)
df_total

    总
   销售  利润
0   4   6
1  12  14

In [135]:
df.join(df_total)

  今冬    淘宝      总
  销售 利润 销售 利润  销售  利润
0  1  2  3  4   4   6
1  5  6  7  8  12  14

# 7、字符串方法

## 7.1、去空白 strip()

strip() 去除左右两边空白（制表符\t，\n,空格）

In [ ]:
lstrip() 去除左边空白（制表符\t，\n,空格）

In [ ]:
rstrip() 去除右边空白（制表符\t，\n,空格）

## 7.2、拆分 split()

str.split() 默认以空白进行拆分，得到一个列表

In [2]:
"a\t\nb c".split()

['a', 'b', 'c']

In [5]:
"a:b:c".split(":")

['a', 'b', 'c']

## 7.3、替换 replace()

In [1]:
"abc".replace("a","x")

'xbc'

## 7.4、包含 contains()

In [6]:
"ab".__contains__("a")

True

## 7.5、计数 count()

In [7]:
"abc".count("b")

1

## 7.6、查找 index() / find() / in()

In [8]:
"abc".index("c")

2

In [9]:
"abc".find("c")

2

In [11]:
"c" in "abc"

True

找不到会错误 "abc".index("d") --> ValueError

In [13]:
"abc".find("d")

-1

In [14]:
"d" in "abc"

False

## 7.7、粘合 join()

In [15]:
",".join("abc")

'a,b,c'

In [16]:
":".join(["a","b","c"])

'a:b:c'

## 7.8、前 / 后缀 startswith() / endswith()

In [17]:
"abc".startswith("a")

True

In [18]:
"abc".endswith("c")

True

## 7.9、大 / 小写转换 upper() / lower()

仅支持英文

In [19]:
"Abc".upper()

'ABC'

In [20]:
"Abc".lower()

'abc'

## 7.10、正则表达式

在线工具：https://regex101.com/

用正则表达式需要导入 re 模块

 re 模块 常用方法

finfall      匹配到的全部以列表返回

search       返回第一个匹配对象

split        拆分

sub          替换

In [21]:
import re 
re.findall("\d","a1b2c")

['1', '2']

In [22]:
re.findall("x","a1b2c")

[]

In [23]:
#返回匹配对象
re.search("\d","a1b2c")

In [25]:
re.search("x","a1b2c")

In [26]:
re.split("\d","a1b2c")

['a', 'b', 'c']

In [27]:
re.sub("\d","*","a1b2c")

'a*b*c'

## 7.11、StringDtype

字符串的两种类型

object-dtype

StringDtype (推荐)

In [28]:
import pandas as pd 
df = pd.DataFrame([
    ["a","b"],
    ["c",1]
],columns=["x","y"])
df

   x  y
0  a  b
1  c  1

In [29]:
df.dtypes

x    object
y    object
dtype: object

In [35]:
df =df.convert_dtypes()
df.dtypes

x    string[python]
y            object
dtype: object

In [36]:
df.select_dtypes(include="string")

   x
0  a
1  c

In [37]:
pd.Series(["a","b"])

0    a
1    b
dtype: object

In [42]:
#这种不能将数字转化为string
pd.Series(["a","b"],dtype="str")

0    a
1    b
dtype: object

In [45]:
# 推荐这种
pd.Series(["a","b",None,1]).astype("string")

0       a
1       b
2    <NA>
3       1
dtype: string

In [39]:
pd.Series(["a","b"],dtype=pd.StringDtype())

0    a
1    b
dtype: string

In [40]:
pd.Series(["a","b"]).astype("string")

0    a
1    b
dtype: string

## 7.12、字符串访问器 Series.str

Series.str 可以以字符串的形式访问 Series 的值并对其应用一些方法

Series.str.strip()

Series.str.split()

In [3]:
import pandas as pd 
from datetime import datetime

df = pd.DataFrame([
    ["\na\n","\nd\n",datetime(2020,1,1)],
    ["\nb\n",1,datetime(2020,1,2)]
],columns=[list("abc")])
df

       a      b          c
0  \na\n  \nd\n 2020-01-01
1  \nb\n      1 2020-01-02

In [4]:
df.dtypes

a            object
b            object
c    datetime64[ns]
dtype: object

In [6]:
#df["a"].str.strip()
df["a"]

       a
0  \na\n
1  \nb\n